<h2>Create New Invoice</h2>
<form id="newInvoiceForm" class="row g-3">
  <div id="invoice-container" class="row justify-content-center">

    <div class="col-md-6">
      <label for="inputFirst" class="form-label">First Name</label>
      <input type="text" class="form-control" id="inputFirst" />
    </div>
    <div class="col-md-6">
      <label for="inputLast" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="inputLast" />
    </div>

    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="text" class="form-control" id="inputEmail" />
    </div>
    <div class="col-md-6">
      <label for="inputPhone" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="inputPhone" />
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="1234 Main St"
      />
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress2"
        placeholder="Apartment, studio, or floor"
      />
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity" />
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <input id="inputState" class="form-control" />
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip" />
    </div>

    <div class="col-md-6">
      <label for="inputDescription" class="form-label">Description</label>
      <input type="text" class="form-control" id="inputDescription" />
    </div>
    <div class="col-md-4">
      <label for="inputItem" class="form-label">Items Used</label>
      <input id="inputItem" class="form-control" />
    </div>
    <div class="col-md-2">
      <label for="inputCost" class="form-label">Cost</label>
      <input type="text" class="form-control" id="inputCost" />
    </div>
    <div class="col-12">

      <hr />

      <button type="submit" class="btn btn-primary create-invoice">Create
        Invoice</button>
    </div>
  </div>
</form>

<script src="/js/invoice.js"></script>