  <main class="container mt-5">
    <h2>HVAC Inventory</h2>
    <p> The one-stop shop for all your inventory and invoice needs</p>
    <button class="btn btn-light" id="start">Click Here to Get Started!</button>
    {{{ body }}}
  </main>