  <main class="container mt-5">
    <h2>HVAC Inventory</h2>
    <p> Your one-stop shop for your HVAC material tracking needs!</p>
    <button class="btn btn-light" id="start">Click Here to Get Started!</button>
  
    {{!-- {{{ body }}} --}}
  </main>


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
