  <main class="container mt-5">
    <h2>ChillTrack: The Cool Inventory Manager</h2>
    <p> Your one-stop shop for your HVAC material tracking needs!</p>
    <div>
    <img src= "/assets/minisplit.jpg" class="card-img-top item-image mb-3" style="height: 300px; width: 200px;" alt="minisplit">
    </div>
    <a href="/login" class="btn btn-light" id="start">Click Here to Get Started!</a>
  
  </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
